node_modules
dist
.turbo
.angular
.nx
.output
.wrangler
.dev.vars
.env
.env.*
!.env.example
!.dev.vars.example
coverage
playwright-report
test-results
*.tsbuildinfo
target
gen
.DS_Store
vite.config.ts.timestamp-*
out-tsc
